div(ui-view="filter")

.container
  .row.animated.fadeIn1stColumn
    div(ui-view='row1Column1')
    div(ui-view='row1Column2')
    div(ui-view='row1Column3')
    div(ui-view='row1Column4')
  .row.animated.fadeIn1stColumn
    div(ui-view='row2Column1')
    div(ui-view='row2Column2')
    div(ui-view='row2Column3')
    div(ui-view='row2Column4')
  .row.animated.fadeIn1stColumn
    div(ui-view='row3Column1')
    div(ui-view='row3Column2')
    div(ui-view='row3Column3')
    div(ui-view='row3Column4')