/*Matching Header from Ghost blog*/

a.link, a.link:hover{
    color: #00bcd4;
    text-decoration: none;

}

.nav-link {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  line-height: 70px;
  padding: 0 10px;
  color:#00bcd4;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
nav .logo{
  width: 90px;
  height: 70px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
  background: url('/blog/content/images/2015/03/TRUing-Project-Logo.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
  backgrofont-family: 'Raleway', sans-serif;und-position: center;
  display: inline;
  
  transition: all 300ms ease;
}

/*#header .logo:hover{
  transform: translatex(100px);
}*/

#bg-white {
  background-color: white;
}