header
  div(ng-include='"components/navbar/navbar.html"')
  .container
    a.button-collapse.top-nav.full(href="#", data-activates="nav-mobile")
      i.mdi-navigation-menu
  ul.side-nav.fixed#nav-mobile
    li.logo 
      a.waves-effect.waves-orange(href="/admin") Hi
    li.bold
      a.waves-effect.waves-orange(href="/admin") My name
    li.bold
      a.waves-effect.waves-orange(href="/admin") Is test