header
  div(ng-include='"components/navbar/navbar.html"')
  ul.side-nav.fixed#nav-mobile
    li.logo 
      a.waves-effect.waves-orange(href="/admin") Hi
    li.bold(ui-sref-active="active")
      a.waves-effect.waves-orange(ui-sref="admin.users") Users
    li.bold
      a.waves-effect.waves-orange(href="/admin") Is test